.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;   ;

}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-left p {
    font-size: 16px;
    max-width: 400px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-email-input {
    display: flex;
    gap: 30px;
    padding: 20px 20px;
    border-radius: 50px;
    background: #323232;
    padding-right: 80px;
}